*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    outline: none;
    color: #555;
}

a{
    text-decoration: none;
}

ul, li{
    list-style: none;
}

body{
    background-color: rgb(253, 253, 253);
}

input[type="text"]{
    background: none;
    border: none;
}